<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4"><img class="img-responsive" src="assets/img/burger.png" width="256" style="margin:0 auto;">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="/" method="POST">
                <div class="form-group">
                    <div class="input-group col-xs-12 col-xs-offset-0">
                        <input class="form-control" type="text" placeholder="What kind of burger would you like?"><span class="input-group-addon" type="submit">Submit</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <h1 class="text-center">Served Orders</h1>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th># </th>
                                    <th>Order </th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1 </td>
                                    <td>Bacon Burger</td>
                                    <td class="text-right">
                                        <button class="btn btn-success btn-xs" type="submit">Eat Burger</button>
                                    </td>
                                    <!-- <li>
                                          {{this.name}}

                                          <form action="/{{this.id}}?_method=PUT" method="POST">
                                            <input type="hidden" name="sleepy" value="true">
                                            <button type="submit">SLEEP TIME!</button>
                                          </form>

                                          {{> cats/delete-cat}}
                                        </li> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h1 class="text-center">Eaten Orders</h1>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th># </th>
                                    <th>Order </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1 </td>
                                    <td>Bacon Burger</td>
                                </tr>
                                <!-- <li>
                                      {{this.name}}

                                      <form action="/{{this.id}}?_method=PUT" method="POST">
                                        <input type="hidden" name="sleepy" value="true">
                                        <button type="submit">SLEEP TIME!</button>
                                      </form>

                                      {{> cats/delete-cat}}
                                    </li> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
